
body{
    background: white;
    width: 100%;
}

/* ul {
margin:16px;
padding:10px;
margin-top: 100%;
color: black !important;
background-color:white;
border-radius: 10px;
}
li{
float: center;
}
li a {
display:block ;
color: black;
text-align:center;
padding: 8px 0 8px 16px;
}

li :hover:not(.active){background-color: turquoise;
}
.active{ color: black;
} */
h3{
    color: blue;
}

button{
    color:black;
}


.navbar {
    background: green;
}
.navbar-toggler {
    border: #fff;
}

#selecting {
    border-radius: 60px;
    border-block: solid;
}
a {
    color: red;
}
li a:hover {
    color: black;
    transition: all 0.5s ease;
}

button{
    background: red;
}
h5{
    color:purple;
}

h1{
    background:red;
    color: #fff;
}

footer{
    background: orangered;
    color: #fff;
}
h4{text-align: left;
}
button {text-align: left;}
a button{float: left;}
ul {text-align: left;}

